[submodule "drivers/staging/fw-api"]
	path = drivers/staging/fw-api
	url = https://github.com/kerneltoast/android_kernel_google_bluecross_wlan-fw-api
[submodule "drivers/staging/qca-wifi-host-cmn"]
	path = drivers/staging/qca-wifi-host-cmn
	url = https://github.com/kerneltoast/android_kernel_google_bluecross_qca-wfi-host-cmn
[submodule "techpack/audio"]
	path = techpack/audio
	url = https://github.com/0312birdzhang/android_kernel_google_bluecross_msm-extra
[submodule "scripts/dtc-aosp/dtc"]
	path = scripts/dtc-aosp/dtc
	url = https://mirrors.tuna.tsinghua.edu.cn/git/AOSP/platform/external/dtc
[submodule "scripts/ufdt/libufdt"]
	path = scripts/ufdt/libufdt
	url = https://mirrors.tuna.tsinghua.edu.cn/git/AOSP/platform/system/libufdt
